Host Bastion
    Hostname 45.114.123.3
    User ubuntu
    IdentityFile ~/.ssh/id_rsa.pub

Host devA
    Hostname 10.0.1.8
    User ubuntu
    IdentityFile ~/.ssh/id_rsa.pub
    ProxyJump Bastion

Host devB
    Hostname 10.0.1.22
    User ubuntu
    IdentityFile ~/.ssh/id_rsa.pub
    ProxyJump Bastion

Host devC
    Hostname 10.0.1.5
    User ubuntu
    IdentityFile ~/.ssh/id_rsa.pub
    ProxyJump Bastion

Host HAproxy
    Hostname 91.123.203.51
    User ubuntu
    IdentityFile ~/.ssh/id_rsa.pub

